@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply rounded p-1 block w-full;
  border: 1px solid gray;
}
.box button {
  @apply rounded py-2 px-5 block w-full border-2 text-white;
}
label {
  @apply mb-5 block;
}
